
<!-- ****$event**** is reserved variable name you can use in the template when using event binding, gives us access to event data-->
<label>Server Name</label>
<!-- <input 
type="text"
class="form-control"
(input)="onUpdateServerName($event)"> -->

<!-- another way of event-binding and two way data binding is by using directives -->
<input 
type="text"
class="form-control"
[(ngModel)] = "serverName">
<p>{{ serverName }}</p>

<!-- enclosing 'disabled' in [] means we directly binding property i.e. this native element property to our own ts property 'allowNewServer'
, disabled needs true or false which exactly what allowNewServer results in-->

<!-- event click calls the onCreateServer method -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add server</button>

<!-- you can also output the true or false in the string interpolation bc boolean is cast into a string -->
<!-- <p>{{allowNewServer}}</p> -->

<!-- property binding -->
<!-- <p[innerText]="allowNewServer"></p> -->

<p> {{ serverCreationStatus }}</p>
<app-server></app-server>

