<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Welcome to the AppComponent</h3>
      <hr>
      <app-username></app-username>
      <app-servers></app-servers>
      <!-- different ways of selectors -->
      <!-- 1 <div app-servers></div> -->
      <!-- 2 <div class="app-servers"></div>  -->
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
      <hr>
      <!-- click below is quick and easy toggle example-->
      <!-- <button class="btn btn-primary" (click)="showSecret = !showSecret ">Display Details</button> -->
      <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
      <p *ngIf="showSecret">Secret Password = tuna</p>
      <!-- logic from below could also be put in the ts code inside a method, but it is also possible to have it here-->

      
      <!-- <div *ngFor = "let logItem of log" [ngStyle]="{backgroundColor: logItem >= 5 'blue' : 'transparent'}" [ngClass]="{'white-text': logItem >= 5 }">
          {{logItem}}
      </div> -->

      <!-- since we added the Date() in the ts file we need to extract extra information from ngFor, the index -->
      <div *ngFor = "let logItem of log; let i = index" [ngStyle]="{backgroundColor: i >= 4 'blue' : 'transparent'}" [ngClass]="{'white-text': i >= 4 }">
        {{logItem}}
    </div>
    </div>
  </div>
</div>



