<!-- get everything with string interpolation -->

<!-- ngStyle directive used together with property binding [] in order -->
<p [ngStyle]="{backgroundColor: getColor()}">{{'server'}} server with ID {{serverId}} is {{serverStatus}} </p>

<!-- get serverStatus from the method -->
<!-- ngClass is added if condition is true -->
<p [ngStyle]="{backgroundColor: getColor()}" [ngClass] = "{online: serverStatus === 'online'}">{{'server'}}server with ID {{serverId}} is {{ getServerStatus() }} </p>

<!-- string interpolation - any expression which can be solved to a string in the end, that is the only condition, ..you can call a method that returns a string, you can use ternery expression -->